{% extends 'base.html' %}

<!-- Page title -->
{% block title %} FTP - Drive {% endblock %}

<!-- Page content -->
{% block content %}
<main class="flex">
    <!-- Menu de controle do sistema -->
    <div class="w-xs h-[400px] bg-zinc-700 text-center text-white p-2 m-5 rounded-md">
        <h1>{{ user.username }}</h1>

        <!-- Configurações e outras opções -->
        <div class="bg-zinc-800 p-2 rounded-md mt-2">
            <ul>
                <li class="m-5"><a href="#"
                        class="bg-blue-800 px-4 py-2 rounded-md hover:bg-blue-600 transition">Usuário</a></li>
                <li class="m-5"><a href="#"
                        class="bg-blue-800 px-4 py-2 rounded-md hover:bg-blue-600 transition">Configurações</a>
                </li>
            </ul>
        </div>

        <!-- Formulário de envio de arquivos -->
        <div class="bg-zinc-800 mt-2 h-[160px] rounded-md flex">
            <form method="POST" enctype="multipart/form-data" class="m-2">
                {% csrf_token %}

                <input type="file" name="file_list" multiple
                    class="w-2xs h-[96px] bg-zinc-600 px-4 py-2 rounded-md hover:bg-zinc-500 transition mb-2">

                <button name="form_type" value="upload_form" type="submit"
                    class="bg-green-800 px-4 py-2 rounded-md hover:bg-green-600 transition">
                    Enviar
                </button>
            </form>
        </div>
    </div>

    <!-- Menu dos arquivos salvos -->
    <div class="w-7xl bg-zinc-700 text-center text-white p-2 m-5 rounded-md">

        <!-- Tabela de arquivos  -->
        <div class="bg-zinc-800 h-[600px] mb-2 rounded-md overflow-y-auto">
            <table class="min-w-full text-center text-gray-700">
                <!-- Cabeçalho da tabela -->
                <thead class="bg-gray-300 text-black text-sm">
                    <tr>
                        <th class="font-medium px-4 py-2"></th>
                        <th class="font-medium px-4 py-2">Nome</th>
                        <th class="font-medium px-4 py-2">Proprietário</th>
                        <th class="font-medium px-4 py-2">Data de Modificação</th>
                        <th class="font-medium px-4 py-2">Peso</th>
                    </tr>
                </thead>

                <!-- Corpo da tabela -->
                <tbody class="divide-y divide-gray-500 bg-white">
                    <form method='POST'>
                        {% csrf_token %}
                        {% for file in all_files %}
                            <tr class="hover:bg-gray-400 hover:text-black transition">
                                <td class="px-4 py-2">
                                    <input type="checkbox" name="files" value="{{ file.id }}"
                                    class="">
                                </td>
                                <td class="font-medium px-4 py-2">{{ file.file_name }}</td>
                                <td class="font-medium px-4 py-2">{{ file.owner }}</td>
                                <td class="font-medium px-4 py-2">{{ file.created_at }}</td>
                                <td class="font-medium px-4 py-2">{{ file.size }}</td>
                            </tr>
                        {% endfor %}
                        
                        <button type="submit" name="form_type" value="download_form"
                            class="bg-green-800 px-4 py-2 rounded-md hover:bg-green-600 transition">
                            Baixar
                        </button>

                        <button type="submit" name="form_type" value="delete_form"
                            class="bg-green-800 px-4 py-2 rounded-md hover:bg-green-600 transition">
                            Deletar
                        </button>
                    </form>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}