{% extends 'base.html' %}
{% block title %} FTP - Drive {% endblock %}
{% block content %}
<div class="w-full grid lg:grid-cols-[20%_80%] md:grid-cols-[40%_60%]">
    <!-- Menu de controle do sistema -->
    <div class="bg-zinc-950 px-2 py-2 m-2 rounded-md text-white text-center">
        <!-- Configurações -->
        <div class="bg-zinc-800 m-1 rounded-md px-2 py-2 flex flex-col gap-2">
            <a href="#" class="bg-blue-700 rounded-md px-4 py-2 hover:bg-blue-600 transition">
                Settings
            </a>
            <a href="#" class="bg-blue-700 rounded-md px-4 py-2 hover:bg-blue-600 transition">
                Usuário
            </a>
        </div>

        <!-- Upload de arquivos -->
        <div class="bg-zinc-800 m-1 rounded-md px-2 py-2">
            <h1 class="mb-2 text-gray-400">Enviar arquivos</h1>
            <form method="POST" enctype="multipart/form-data" class="flex flex-col gap-2">
                {% csrf_token %}
                <label for="file_input"
                    class="bg-zinc-600 rounded-md px-4 py-6 hover:bg-zinc-500 text-gray-400 cursor-pointer transition">
                    [ + ]
                </label>

                <span id="file_count" class="ml-3 text-gray-300 text-sm"></span>

                <input id="file_input" type="file" name="file_list" multiple onchange="updateFileCount(event)" 
                    class="hidden bg-zinc-700 px-2 py-6 rounded-md shadow-md">

                <button name="form_type" value="upload_form" type="submit"
                    class="bg-green-700 rounded-md px-4 py-2 hover:bg-green-600 cursor-pointer transition">
                    Enviar
                </button>
            </form>
        </div>

        <!-- Pastas -->
        <div class="bg-zinc-800 m-1 rounded-md px-4 py-2 flex-col gap-1">
            <h1 class="mb-2 text-gray-400">Suas pastas</h1>
            <p>Pasta 01</p>
            <p>Pasta 02</p>
            <p>Pasta 03</p>
        </div>

        <div class="bg-zinc-800 m-10 rounded-md px-4 py-2 flex-col gap-1 text-sm text-gray-400">
            <p>Versão: 1.0 BETA</p>
            <p>&copy; Astraeus 2025</p>
        </div>
    </div>

    <!-- Arquivos do sistema -->
    <div class="bg-zinc-800 p-4 m-2 rounded-md text-white lg:h-[800px]">
        <form method="POST">
            {% csrf_token %}
            <div class="min-w-full bg-zinc-900 p-2 mb-2 rounded-md flex items-center gap-2">
                <!-- Pesquisa -->
                <input id="search-files" type="text" placeholder="Pesquisar por arquivo ou documento..."
                    class="w-1/2 bg-zinc-700 px-4 py-2 rounded-md">

                <!-- Botão para baixar arquivos -->
                <button type="submit" name="form_type" value="download_form"
                    class="bg-green-800 rounded-md hover:bg-green-700 px-3 py-2 cursor-pointer transition">
                    Baixar
                </button>

                <!-- Botão para deletar arquivos -->
                <button type="submit" name="form_type" value="delete_form"
                    class="bg-red-800 rounded-md hover:bg-red-700 px-4 py-2 cursor-pointer transition">
                    Deletar
                </button>
            </div>

            <!-- Tabela de arquivos -->
            <div class="overflow-y-auto lg:h-[700px] border border-zinc-700 rounded-md">
                <table class="min-w-full border border-zinc-700 text-sm text-left text-white">
                    <thead class="bg-zinc-900 text-zinc-300 ">
                        <tr>
                            <!-- Checkbox para selecionar tudo -->
                            <th class="px-4 py-2 border-b border-zinc-700">
                                <input id="select-all" type="checkbox"
                                    class="cursor-pointer">
                            </th>
                            <th class="px-4 py-2 border-b border-zinc-700">Título</th>
                            <th class="px-4 py-2 border-b border-zinc-700">Proprietário</th>
                            <th class="px-4 py-2 border-b border-zinc-700">Data de Modificação</th>
                            <th class="px-4 py-2 border-b border-zinc-700">Tamanho</th>
                        </tr>
                    </thead>
                    <tbody class="bg-zinc-800">
                        {% for file in all_files %}
                            <tr class="hover:bg-zinc-700 cursor-pointer transition">
                                <th class="px-4 py-2 border-b border-zinc-700">
                                    <input type="checkbox" name="files" value="{{ file.id }}"
                                    class="cursor-pointer">
                                </th>
                                <td class="px-4 py-2 border-b border-zinc-700">{{ file.file_name }}</td>
                                <td class="px-4 py-2 border-b border-zinc-700">{{ file.owner }}</td>
                                <td class="px-4 py-2 border-b border-zinc-700">{{ file.created_at }}</td>
                                <td class="px-4 py-2 border-b border-zinc-700">{{ file.size }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}